<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Village Paint and Hardware</title>

    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

    <!-- Animate.css -->
    <link href="~/r/css/animate.css" rel="stylesheet" />
    <!-- Icomoon Icon Fonts-->
    <link href="~/r/css/icomoon.css" rel="stylesheet" />
    <!-- Bootstrap  -->
    <link href="~/r/css/bootstrap.css" rel="stylesheet" />
    <!-- Magnific Popup -->
    <link href="~/r/css/magnific-popup.css" rel="stylesheet" />
    <!-- Owl Carousel  -->
    <link href="~/r/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/r/css/owl.theme.default.min.css" rel="stylesheet" />
    <!-- Theme style  -->
    <link href="~/r/css/style.css" rel="stylesheet" />
    <!-- Modernizr JS -->
    <script src="~/r/js/modernizr-2.6.2.min.js"></script>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <script src="~/r/js/jquery.min.js"></script>
    <script src="~/r/Admin/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/r/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/r/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/r/js/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <script src="~/r/js/owl.carousel.min.js"></script>
    <!-- countTo -->
    <script src="~/r/js/jquery.countTo.js"></script>
    <!-- Stellar -->
    <script src="~/r/js/jquery.stellar.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/r/js/jquery.magnific-popup.min.js"></script>

    <!--Helpers-->
    <script src="~/r/Admin/js/jquery.json/jquery.json.2-3.min.js"></script>

    <script src="~/r/Admin/js/datatables/jquery.dataTables.min.js"></script>
    
    <script src="~/r/Admin/js/helper.datatable.js"></script>
    <script src="~/r/Admin/js/helper.widgets.js"></script>

    <script src="~/r/Admin/js/growl/bootstrap-growl.js"></script>

    <!--Select2 js-->
    <script src="~/r/Admin/js/select2/select2.min.js"></script>

    <style>
        h1, h2, p, a {
            color: rgba(0, 0, 0, 0.8) !important;
        }
    </style>
    <script type="text/javascript">
        var base_url = 'https://villagepaint.azurewebsites.net';
        //var base_url = 'http://localhost:57881';
       
    </script>
</head>
<body>
    <div class="fh5co-loader"></div>

    <div id="page">
        <nav class="fh5co-nav" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12" style="text-align:center">
                        <div id="fh5co-logo"><a style="font-family: fantasy;">Village Paint and Hardware</a></div>
                    </div>
                    <div class="col-xs-9 text-right menu-1">
                        @*<ul>
        <li class="active"><a href="/Home/Index">Home</a></li>*@
                        @*<li><a href="/Home/Story">Story</a></li>
            <li class="has-dropdown">
                <a href="services.html">Services</a>
                <ul class="dropdown">
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">eCommerce</a></li>
                    <li><a href="#">Branding</a></li>
                    <li><a href="#">API</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="gallery.html">Gallery</a>
                <ul class="dropdown">
                    <li><a href="#">HTML5</a></li>
                    <li><a href="#">CSS3</a></li>
                    <li><a href="#">Sass</a></li>
                    <li><a href="#">jQuery</a></li>
                </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
        <li><a href="/Home/Login">Login</a></li>
                        </ul>*@
                    </div>
                </div>


            </div>
        </nav>

        <div class="container body-content">
            @RenderBody()
            <footer id="fh5co-footer" role="contentinfo" style="background-color:rgba(255, 255, 255, 0.7);">
                <div class="container">
                    <div class="row copyright">
                        <div class="col-md-12 text-center">
                            <p>
                                <small class="block">&copy; 2018 VillagePaint - All Rights Reserved.</small>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>  
        </div>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@

  
    <script src="~/r/js/magnific-popup-options.js"></script>
    <!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
    <script src="~/r/js/simplyCountdown.js"></script>
    <!-- Main -->
    <script src="~/r/js/main.js"></script>
    <script>
        var d = new Date(new Date("Sat Mar 24 2018 16:00 GMT+0200 (South Africa Standard Time)"));

        // default example
        simplyCountdown('.simply-countdown-one', {
            year: d.getFullYear(),
            month: d.getMonth() + 1,
            day: d.getDate()
        });

        //jQuery example
        $('#simply-countdown-losange').simplyCountdown({
            year: d.getFullYear(),
            month: d.getMonth() + 1,
            day: d.getDate(),
            enableUtc: false
        });
    </script>

</body>
</html>
