@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Clients";
}

@section head
{
    @Scripts.Render("~/bundles/js_AdminCustomer");
    <script id='jsonData' type='text/data'>
        @Html.Raw(@ViewBag.data)
    </script>

    <link href="~/r/Admin/css/theme.extended.css" rel="stylesheet" />
    <link href="~/r/Admin/js/select2/select2.min.css" rel="stylesheet" />
    <script src="~/r/Admin/js/select2/select2.min.js"></script>

    <style>
        h3.h3-custom-heading {
            color: #f2f2f2;
            background: #177bbb;
            /*font-size: 75px;*/
            /*line-height: 74px;*/
            font-weight: 700;
            margin: 0 5px 24px;
            float: left;
            padding: 10px;
        }

        p.p-custom-heading {
            color: #177bbb;
            background: #e9edf4;
            font-size: 15px;
            line-height: 15px;
            font-weight: 700;
            margin: 0 5px 24px;
            float: left;
            padding: 10px;
        }
    </style>
}

@section breadcrumb {
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="~/Admin/AdminDash"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Clients</li>
        </ul>
    </div>

}

<section class="panel panel-default">
    <header class="panel-heading">
        <h4>Clients</h4>
    </header>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-condensed m-b-none valign-middle" id="tblCustomerList" data-ride="datatables">
                @*<thead>
                        <tr>
                            <th class="w200 minw200">
                                Name
                            </th>
                            <th class="w200 minw200">
                                Surname
                            </th>
                            <th class="text-center w100 minw100">
                                Email
                            </th>
                            <th class="text-center w100 minw100">
                                Cell
                            </th>
                            <th class="text-center w100 minw100">
                                Has RSVP'd
                            </th>
                            <th class="text-center w100 minw100">
                                Is Attending
                            </th>
                            <th class="text-center w100 minw100">
                                Actions
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Stefan</td>
                            <td>Bezuidenouft</td>
                            <td>sbezuidenhoudt@thecodegroup.co.za</td>
                            <td>0743735241</td>
                            <td>-</td>
                            <td>-</td>
                            <td class="text-center">
                                <span data-toggle="tooltip" title="Edit">
                                    <a href="#" data-toggle="modal" class="btn btn-sm btn-icon btn-primary i i-pencil"></a>
                                </span>
                                <span data-toggle="tooltip" title="Remove">
                                    <a href="javascript:;" class="btn btn-sm btn-icon btn-danger i i-cross2"></a>
                                </span>
                            </td>
                        </tr>
                    </tbody>*@
            </table>
        </div>
    </div>

    <div class="panel-footer">
        <div class="text-center">
            <a href="#modalAddCustomer" data-toggle="modal" class="btn btn-primary" onclick="cancelEdit()">
                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;|&nbsp;Add Client
            </a>
        </div>
    </div>
</section>


<!--Add Customer Modal-->
<div id="modalAddCustomer" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <p class="p-custom-heading">New Client</p>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <div class="">
                                <label for="" class="control-label fw600">Card Number: <span class="text-danger">*</span></label>
                                <input type="text" id="tbClientCardNrAdd" class="form-control input-sm" placeholder="" value="" onchange="" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <label for="" class="control-label fw600">Company Name: </label>
                                <input type="text" id="tbClientCompanyNameAdd" class="form-control input-sm" placeholder="" value="" />
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-sm-6">
                            <div class="">
                                <label for="" class="control-label fw600">Name: <span class="text-danger">*</span></label>
                                <input type="text" id="tbClientNameAdd" class="form-control input-sm" placeholder="" value="" onchange="" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <label for="" class="control-label fw600">Surname: </label>
                                <input type="text" id="tbClientSurnameAdd" class="form-control input-sm" placeholder="" value="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <div class="">
                                <label for="" class="control-label fw600">Email: </label>
                                <input type="text" id="tbClientEmailAdd" class="form-control input-sm" placeholder="" value="" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <label for="" class="control-label fw600">Cell: <span class="text-danger">*</span></label>
                                <input type="text" id="tbClientCellAdd" class="form-control input-sm" placeholder="" value="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <div class="">
                                <label for="" class="control-label fw600">Address: </label>
                                <input type="text" id="tbClientAddressStreetAdd" class="form-control input-sm" placeholder="Street" value="" />
                                <input type="text" id="tbClientAddressSuburbAdd" class="form-control input-sm" placeholder="Suburb" value="" />
                                <input type="text" id="tbClientAddressCityAdd" class="form-control input-sm" placeholder="City" value="" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <label for="" class="control-label fw600">Zip Code: </label>
                                <input type="text" id="tbClientZipCodeAdd" class="form-control input-sm" placeholder="" value="" />
                            </div>
                        </div>
                    </div>


                </form>
            </div>

            <div class="modal-footer">
                <div class="clearfix text-center">
                    <label class="text-danger" id="lblErrorAdd"></label>
                </div>
                <a href="javascript:;" class="btn btn-primary" onclick="SaveClientAdd()">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;|&nbsp;Save
                </a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>


<div id="modalEditClient" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <p class="p-custom-heading">Edit Client</p>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <div class="">
                                <label for="" class="control-label fw600">Card Number: <span class="text-danger">*</span></label>
                                <input type="text" id="tbClientCardNrEdit" class="form-control input-sm" placeholder="" value="" onchange="" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <label for="" class="control-label fw600">Company Name: </label>
                                <input type="text" id="tbClientCompanyNameEdit" class="form-control input-sm" placeholder="" value="" />
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-sm-6">
                            <div class="">
                                <label for="" class="control-label fw600">Name: <span class="text-danger">*</span></label>
                                <input type="text" id="tbClientNameEdit" class="form-control input-sm" placeholder="" value="" onchange="" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <label for="" class="control-label fw600">Surname: </label>
                                <input type="text" id="tbClientSurnameEdit" class="form-control input-sm" placeholder="" value="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <div class="">
                                <label for="" class="control-label fw600">Email: </label>
                                <input type="text" id="tbClientEmailEdit" class="form-control input-sm" placeholder="" value="" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <label for="" class="control-label fw600">Cell: <span class="text-danger">*</span></label>
                                <input type="text" id="tbClientCellEdit" class="form-control input-sm" placeholder="" value="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <div class="">
                                <label for="" class="control-label fw600">Address: </label>
                                <input type="text" id="tbClientAddressStreetEdit" class="form-control input-sm" placeholder="Street" value="" />
                                <input type="text" id="tbClientAddressSuburbEdit" class="form-control input-sm" placeholder="Suburb" value="" />
                                <input type="text" id="tbClientAddressCityEdit" class="form-control input-sm" placeholder="City" value="" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <label for="" class="control-label fw600">Zip Code: </label>
                                <input type="text" id="tbClientZipCodeEdit" class="form-control input-sm" placeholder="" value="" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="clearfix text-center">
                    <label class="text-danger" id="lblErrorEdit"></label>
                </div>
                <a href="javascript:;" class="btn btn-primary" onclick="SaveClientEdit()">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;|&nbsp;Save
                </a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>




